#badges .badge {
  font-size: 25px;
}

#badges .selected-badge {
  border: 2px solid var(--main-font);
  border-radius: 2px;
  display: inline-block;
  font-size: 25px;
  padding: 0 3px;
  margin: 5px;
  width: 1em;

}

#badges .unlocked-badge, #badges .locked-badge {
  height: 28px;
  padding: 4px;
  padding-top: 8px;
  width: 30px;
}

#badges .locked-badge {
  opacity: 0.5;
  cursor: default;
}

#badges .unlocked-badge.selected {
  width: 26px;
}

#badges .selected {
  background: var(--alternate-background);
  border: 2px solid var(--green);
}