#modal-wrapper {
    background-color: rgba(0, 0, 0, 0.8);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    z-index: 100000;
}

#modal {
    background-color: black;
    border: 2px solid white;
    border-radius: 4px;
    margin: auto;
    padding-bottom: 30px;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    width: 800px;
}