#modal-wrapper {
    background-color: var(--alternate-background);
    opacity: 0.9;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    z-index: 100000;
}

#modal {
    background-color:var(--main-background);
    border: 2px solid var(--main-font);
    border-radius: 4px;
    margin: auto;
    padding: 30px;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    width: 800px;
}

#close-button {
    position: absolute;
    padding: 30px;
    right: 0;
    top: 0;
}