/* background-color different than 'main' background, dropdown by username
'default' #333333
'light' base2 #eee8d5
'dark' base02 #073642 

'border' matches text
'default' white
'light'/'dark' #657b83

'selected' highlights item
'default' #aaaaaa
'light'/'dark' flip #*/

nav.react-contextmenu {
  background-color: var(--alternate-background);
  border: 1px solid var(--main-font);
  cursor: pointer;
}

@media only screen and (max-device-width: 500px) {
  nav.react-contextmenu {
    font-size: 40px;
  }
}

.react-contextmenu-item {
  padding: 2px 5px;
}

.react-contextmenu-item--selected {
  background-color: var(--highlight-line) !important;
}

span.name {
  cursor: pointer;
}

.name .react-contextmenu {
  color: var(--main-font);
  font-style: normal;
}

.mod {
  background-color: var(--highlight-line);
  color: var(--main-text);
}

.name.AliceBlue {
  color: AliceBlue
}
.name.AntiqueWhite {
  color: AntiqueWhite
}
.name.Aqua {
  color: Aqua
}
.name.Aquamarine {
  color: Aquamarine
}
.name.Azure {
  color: Azure
}
.name.Beige {
  color: Beige
}
.name.Bisque {
  color: Bisque
}
.name.Black {
  color: Black
}
.name.BlanchedAlmond {
  color: BlanchedAlmond
}
.name.Blue {
  color: Blue
}
.name.BlueViolet {
  color: BlueViolet
}
.name.Brown {
  color: Brown
}
.name.BurlyWood {
  color: ood
}
.name.CadetBlue {
  color: CadetBlue
}
.name.Chartreuse {
  color: Chartreuse
}
.name.Chocolate {
  color: Chocolate
}
.name.Coral {
  color: Coral
}
.name.CornflowerBlue {
  color: CornflowerBlue
}
.name.Cornsilk {
  color: lk
}
.name.Crimson {
  color: Crimson
}
.name.Cyan {
  color: Cyan
}
.name.DarkBlue {
  color: DarkBlue
}
.name.DarkCyan {
  color: DarkCyan
}
.name.DarkGoldenRod {
  color: DarkGoldenRod
}
.name.DarkGray {
  color: ay
}
.name.DarkGreen {
  color: DarkGreen
}
.name.DarkKhaki {
  color: DarkKhaki
}
.name.DarkMagenta {
  color: DarkMagenta
}
.name.DarkOliveGreen {
  color: DarkOliveGreen
}
.name.Darkorange {
  color: Darkorange
}
.name.DarkOrchid {
  color: chid
}
.name.DarkRed {
  color: DarkRed
}
.name.DarkSalmon {
  color: DarkSalmon
}
.name.DarkSeaGreen {
  color: DarkSeaGreen
}
.name.DarkSlateBlue {
  color: DarkSlateBlue
}
.name.DarkSlateGray {
  color: DarkSlateGray
}
.name.DarkTurquoise {
  color: rquoise
}
.name.DarkViolet {
  color: DarkViolet
}
.name.DeepPink {
  color: DeepPink
}
.name.DeepSkyBlue {
  color: DeepSkyBlue
}
.name.DimGray {
  color: DimGray
}
.name.DodgerBlue {
  color: DodgerBlue
}
.name.FireBrick {
  color: ick
}
.name.FloralWhite {
  color: FloralWhite
}
.name.ForestGreen {
  color: ForestGreen
}
.name.Fuchsia {
  color: Fuchsia
}
.name.Gainsboro {
  color: Gainsboro
}
.name.GhostWhite {
  color: GhostWhite
}
.name.Gold {
  color: gold
}
.name.GoldenRod {
  color: GoldenRod
}
.name.Gray {
  color: Gray
}
.name.Green {
  color: Green
}
.name.GreenYellow {
  color: GreenYellow
}
.name.HoneyDew {
  color: HoneyDew
}
.name.HotPink {
  color: k
}
.name.IndianRed {
  color: IndianRed
}
.name.Indigo {
  color: Indigo
}
.name.Ivory {
  color: Ivory
}
.name.Khaki {
  color: Khaki
}
.name.Lavender {
  color: Lavender
}
.name.LavenderBlush {
  color: erBlush
}
.name.LawnGreen {
  color: LawnGreen
}
.name.LemonChiffon {
  color: LemonChiffon
}
.name.LightBlue {
  color: LightBlue
}
.name.LightCoral {
  color: LightCoral
}
.name.LightCyan {
  color: LightCyan
}
.name.LightGoldenRodYellow {
  color: oldenRodYellow
}
.name.LightGrey {
  color: LightGrey
}
.name.LightGreen {
  color: LightGreen
}
.name.LightPink {
  color: LightPink
}
.name.LightSalmon {
  color: LightSalmon
}
.name.LightSeaGreen {
  color: LightSeaGreen
}
.name.LightSkyBlue {
  color: kyBlue
}
.name.LightSlateGray {
  color: LightSlateGray
}
.name.LightSteelBlue {
  color: LightSteelBlue
}
.name.LightYellow {
  color: LightYellow
}
.name.Lime {
  color: Lime
}
.name.LimeGreen {
  color: LimeGreen
}
.name.Linen {
  color: linen
}
.name.Magenta {
  color: Magenta
}
.name.Maroon {
  color: Maroon
}
.name.MediumAquaMarine {
  color: MediumAquaMarine
}
.name.MediumBlue {
  color: MediumBlue
}
.name.MediumOrchid {
  color: MediumOrchid
}
.name.MediumPurple {
  color: Purple
}
.name.MediumSeaGreen {
  color: MediumSeaGreen
}
.name.MediumSlateBlue {
  color: MediumSlateBlue
}
.name.MediumSpringGreen {
  color: MediumSpringGreen
}
.name.MediumTurquoise {
  color: MediumTurquoise
}
.name.MediumVioletRed {
  color: MediumVioletRed
}
.name.MidnightBlue {
  color: htBlue
}
.name.MintCream {
  color: MintCream
}
.name.MistyRose {
  color: MistyRose
}
.name.Moccasin {
  color: Moccasin
}
.name.NavajoWhite {
  color: NavajoWhite
}
.name.Navy {
  color: Navy
}
.name.OldLace {
  color: e
}
.name.Olive {
  color: Olive
}
.name.OliveDrab {
  color: OliveDrab
}
.name.Orange {
  color: Orange
}
.name.OrangeRed {
  color: OrangeRed
}
.name.Orchid {
  color: Orchid
}
.name.PaleGoldenRod {
  color: ldenRod
}
.name.PaleGreen {
  color: PaleGreen
}
.name.PaleTurquoise {
  color: PaleTurquoise
}
.name.PaleVioletRed {
  color: PaleVioletRed
}
.name.PapayaWhip {
  color: PapayaWhip
}
.name.PeachPuff {
  color: PeachPuff
}
.name.Peru {
  color: peru
}
.name.Pink {
  color: Pink
}
.name.Plum {
  color: Plum
}
.name.PowderBlue {
  color: PowderBlue
}
.name.Purple {
  color: Purple
}
.name.Red {
  color: Red
}
.name.RosyBrown {
  color: own
}
.name.RoyalBlue {
  color: RoyalBlue
}
.name.SaddleBrown {
  color: SaddleBrown
}
.name.Salmon {
  color: Salmon
}
.name.SandyBrown {
  color: SandyBrown
}
.name.SeaGreen {
  color: SeaGreen
}
.name.SeaShell {
  color: SeaShell
}
.name.Sienna {
  color: Sienna
}
.name.Silver {
  color: Silver
}
.name.SkyBlue {
  color: SkyBlue
}
.name.SlateBlue {
  color: SlateBlue
}
.name.SlateGray {
  color: SlateGray
}
.name.Snow {
  color: Snow
}
.name.SpringGreen {
  color: SpringGreen
}
.name.SteelBlue {
  color: SteelBlue
}
.name.Tan {
  color: Tan
}
.name.Teal {
  color: Teal
}
.name.Thistle {
  color: Thistle
}
.name.Tomato {
  color: Tomato
}
.name.Turquoise {
  color: Turquoise
}
.name.Violet {
  color: Violet
}
.name.Wheat {
  color: Wheat
}
.name.White {
  color: White
}
.name.WhiteSmoke {
  color: WhiteSmoke
}
.name.Yellow {
  color: Yellow
}
.name.YellowGreen {
  color: YellowGreen
}
