nav.react-contextmenu {
  background-color: #333;
  border: 1px solid white;
  cursor: pointer;
}

@media only screen and (max-device-width: 500px) {
nav.react-contextmenu {
  font-size: 40px;
}

.react-contextmenu-item {
  padding: 2px 5px;
}

.react-contextmenu-item--selected {
  background-color: #aaa !important;
}

span.name {
  cursor: pointer;
}
