#side-menu {
  list-style: none;
  margin-top: 30px;
}

@media only screen and (max-device-width: 500px) {
  #side-menu {
    background-color: black;
    font-size: 30px;
    position: fixed;
    left: 0;
    height: 100vh;
    top: 0;
    width: 100vw;
  }

  #side-menu #close-button {
    font-size: 64px;
    margin-right: 20px;
  }
}

#side-menu li {
  cursor: pointer;
  list-style: none;
}

#side-menu button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  display: inline; 
  font-family: "IBM Plex Mono", "Consolas", "Courier New", Courier, monospace;
  font-size: 1.0em;
  margin: 0;
  padding: 0;
  text-align: left;
}

#side-menu button:hover, #side-menu button:focus, #side-menu button:active {
  text-decoration: none;
}

#menu-button {
  cursor: pointer;
  -webkit-user-select: none;
}
