
@media only screen and (max-device-width: 500px) {
  #profile {
    background-color:var(--main-background);
    font-size: 40px;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
  }
}

#profile .close-profile {
    margin-top: 2em;
}

#profile h1 {
    margin-top: 0;
}