#dynamic-room-description {
  margin-top: 1em;
  margin-bottom: 1em;
}

a.room-link {
  color: var(--green);
}

a.room-link:visited {
  color: var(--green);
}

#join-video-chat {
  margin-left: 2em;
  vertical-align: top;
}

#iframes {
  border: solid;
  border-color: var(--highlight-line);
  width: min-content;
}

#captions {
  border-top: dashed;
  border-color: var(--highlight-line);
  padding-top: 5px;
}