@import "./fonts.css";
@import "./colors/default.css";

body {
  background-color: var(--main-background);
  color: var(--main-font);
  font-family: "IBM Plex Mono", "Consolas", "Courier New", Courier, monospace;
}

#app {
  max-width: 1200px;
  margin: auto;
}

#main {
  margin-left: 320px;
  max-width: 880px;
}

a {
  color:var(--link-text);
  text-decoration: none;
  font-weight: bold;
}

a:visited {
  color: var(--link-text);
}
