@import "./fonts.css";
@import "./modal.css";

body {
  background-color: black;
  color: white;
  font-family: "IBM Plex Mono", "Consolas", "Courier New", Courier, monospace;
}

#app {
  padding: 0 50px;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-gap: 50px;
}

#app-profile-open {
  padding: 0 50px;
  display: grid;
  grid-template-columns: 250px 1fr 250px;
  grid-gap: 50px;
}

@media only screen and (max-device-width: 500px) {
  #app {
    grid-template-columns: auto;
  }
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  color: lightseagreen;
  text-decoration: none;
  font-weight: bold;
}

a:visited {
  color: lightseagreen;
}

.link-styled-button {
  background-color: transparent;
  border: none;
  color: lightgreen;
  cursor: pointer;
  display: inline; 
  font-family: "IBM Plex Mono", "Consolas", "Courier New", Courier, monospace;
  font-size: 1.0em;
  margin: 0;
  padding: 0;
  text-align: left;
}