@import "./fonts.css";
@import "./modal.css";

/* Default theme */
:root {
  --main-background: black;
  --main-font: white;
  --alternate-background: #333333;
  --link-text: lightseagreen;
  --highlight-line: #aaaaaa;
  --warning-color: lightpink;
  --like-color: lightskyblue;
}

/* solarized dark */
.solarized-dark{
  --main-background:#002b36;
  --main-font:#657b83;
  --alternate-background: #073642;
  --link-text: #859900;
  --highlight-line: #fdf6e3;
  --warning-color: #d33682;
  --like-color: #268bd2;
}

/* solarized light */
.solarized-light{
  --main-background:#fdf6e3;
  --main-font:#657b83;
  --alternate-background: #eee8d5;
  --link-text:#859900;
  --highlight-line: #002b36;
  --warning-color: #d33682;
  --like-color: #268bd2;
}

body {
  background-color: var(--main-background);
  color: var(--main-font);
  font-family: "IBM Plex Mono", "Consolas", "Courier New", Courier, monospace;
}

#app {
  padding: 0 50px;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-gap: 50px;
}

#app-profile-open {
  padding: 0 50px;
  display: grid;
  grid-template-columns: 250px 1fr 250px;
  grid-gap: 50px;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  color:var(--link-text);
  text-decoration: none;
  font-weight: bold;
}

a:visited {
  color: var(--link-text);
}

.link-styled-button {
  background-color: transparent;
  border: none;
  color: var(--link-text);
  cursor: pointer;
  display: inline; 
  font-family: "IBM Plex Mono", "Consolas", "Courier New", Courier, monospace;
  font-size: 1.0em;
  margin: 0;
  padding: 0;
  text-align: left;
}