video {
  display: block;
  box-sizing: border-box;
  width: 180px;
}

input#send-audio {
  margin-left: 1em;
}

#media-view {
  display: flex;
  flex-flow: row wrap;
}

video.speaking {
  border: 5px solid green;
}
