.message-list {
  height: 40vh;
  list-style-type: none;

  margin: 0;
  padding: 0;

  overflow-y: scroll;
  overflow-x: hidden;

  position: relative;
}

.sentinel {
  width: 100%;
  height: 1px;
  position: absolute;
}
