

:root {
  --main-background: black;
  --main-font: white;
  --alternate-background: #333333;
  --link-text: lightseagreen;
  --highlight-line: #aaaaaa;
}


/* main background:
black
alternate background:
#333333
text:
white
link:
lightseagreen
highlight:
#aaaaaa */