

:root {
  --main-background:#002b36;
  --main-font:#657b83;
  --alternate-background: #657b83;
  --link-text: #859900;
  --highlight-line: #fdf6e3;
}

/* main background:
base03 #002b36
alternate background:
base02 #073642
text:
base00 #657b83
link:
green #859900
highlight:
base3 #fdf6e3 (background of 'light') */