#room-list {
  overflow: scroll;
  height: 95vh;
}

li {
  list-style: none;
}

#editor {
  position: absolute;
  top: 80px;
  left: 400px;
  height: 100vh;
}

#room-options-view {
  position: absolute;
  top: 10px; 
  right: 20px;
}

#room-options-view button {
  margin-left: 20px;
}