name: Build and Deploy to Azure Functions and GH Pages

on:
  workflow_call:
    secrets:
      # LMAO at how long this is.
      SERVER_HOSTNAME:
        required: true
      FIREBASE_API_KEY:
        required: true
      FIREBASE_AUTH_DOMAIN:
        required: true
      FIREBASE_PROJECT_ID:
        required: true
      FIREBASE_STORAGE_BUCKET:
        required: true
      FIREBASE_MESSAGING_SENDER_ID:
        required: true
      FIREBASE_APP_ID:
        required: true
      AZURE_FUNCTION_APP_NAME:
        required: true
      AZURE_FUNCTIONAPP_PUBLISH_PROFILE:
        required: true
      FIREBASE_SERVER_JSON:
        required: true
      DEPLOY_WEBHOOK_KEY:
        required: true
      ASWA_API_TOKEN:
        required: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2.1.0
      - run: npm install

      - name: Build Frontend
        run: npm run build
        env:
          SERVER_HOSTNAME: ${{ secrets.SERVER_HOSTNAME }}
          FIREBASE_API_KEY: ${{ secrets.FIREBASE_API_KEY }}
          FIREBASE_AUTH_DOMAIN: ${{ secrets.FIREBASE_AUTH_DOMAIN }}
          FIREBASE_PROJECT_ID: ${{ secrets.FIREBASE_PROJECT_ID }}
          FIREBASE_STORAGE_BUCKET: ${{ secrets.FIREBASE_STORAGE_BUCKET }}
          FIREBASE_MESSAGING_SENDER_ID: ${{ secrets.FIREBASE_MESSAGING_SENDER_ID }}
          FIREBASE_APP_ID: ${{ secrets.FIREBASE_APP_ID }}

      - name: Deploy GH Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist

      - name: Deploy ASWA
        id: builddeploy
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.ASWA_API_TOKEN }}
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          action: "upload"
          app_location: "/dist" # App source code path
          skip_app_build: true
          api_location: "" # Api source code path - optional
          output_location: "" # Built app content directory - optional

      - name: Notify connected clients
        run: node deployWebhook.cjs
        env:
          APP_NAME: ${{ secrets.AZURE_FUNCTION_APP_NAME }}
          TOKEN: ${{ secrets.DEPLOY_WEBHOOK_KEY }}

      - name: Create Firebase JSON file
        working-directory: server
        run: echo $FIREBASE_SERVER_JSON > firebase-admin.json
        env:
          FIREBASE_SERVER_JSON: ${{ secrets.FIREBASE_SERVER_JSON }}

      - name: Build Backend
        working-directory: server
        run: npm install && npm run build

      - name: Deploy Backend
        uses: Azure/functions-action@v1
        with:
          app-name: ${{ secrets.AZURE_FUNCTION_APP_NAME }}
          publish-profile: ${{ secrets.AZURE_FUNCTIONAPP_PUBLISH_PROFILE }}
          package: server
          scm-do-build-during-deployment: true
          enable-oryx-build: true
