name: Linting and Validation Checks

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2.1.0
      - run: npm install
      
      # This produces compiled.json, which needs to exist for lint-rooms to work
      - name: server build
        run: |
          cd server
          npm install
          npm run build

      - name: build
        run: npm run build

      - name: lint
        run: npm run lint

      - name: lintRooms
        run: npm run lint-rooms

      - name: typecheck
        run: cd server && npm install && cd ..; npm run typecheck
